
html {
    color: #555;
    font-family: Helvetica,Arial,sans-serif;
    font-size: 12pt;
}
body {
    background-color: #fff;
    padding: 40px;
}
h1 {
    color: #555;
    font-size: 24pt;
    margin: 0 0 1em;
    text-align: center;
}
h2 {
    color: #fff;
    font-size: 14pt;
    margin-top: 0;
    background-color: #800;
    padding: 10px;
}
div.topic {
    background-color: #fff;
    display: inline-block;
    height: 175px;
    margin: 25px;
    max-height: 175px;
    overflow: hidden;
    padding: 0;
    vertical-align: top;
    width: 300px;
    border-radius: 5px;
    padding-bottom: 25px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
a {
    text-decoration: none;
}
p {
    line-height: 125%;
    margin-left: 25px;
    margin-right: 25px;
}
ul {
    padding-left: 25px;
}
li {
    line-height: 125%;
}
table.assignments td {
    padding: 2px 4px;
    width: 30%;
}
table.assignments {
    margin-left: 25px;
    margin-right: 25px;
}
